@font-face {
    font-family: "Upheavtt";
    src: url("../_shared_assets/fonts/upheavtt.ttf");
}

@font-face {
    font-family: "Madou";
    src: url("../_shared_assets/fonts/madoufmg.ttf");
}

#main {
    font-size: 30px;
    font-family: "Upheavtt";
    font-weight: normal;
    color: rgb(255, 255, 255);
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    height:1080px;
    width:1920px;
	text-shadow: 0px 0px 8px black;
    display:flex;
    /* background-color: grey; */
}

#mascot {
    position:absolute;
    left:1056px;
    width:864px;
    height: 1020px;
    top:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#mascotVideo {
    width:2600px;
    margin-left:125px;
    margin-top:700px;
}

#leftContainer {
    width:55%;
    height:inherit;
    /* background-color:rgba(33, 33, 33,0.9); */
}

#matchBar {
    margin-top:180px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matchContainer {
    display:flex;
    flex-direction: column;
    height:fit-content;
    align-items: center;
    justify-content: center;
    width:fit-content;
    margin-bottom: 15px;
}

.matchTime {
    display:flex;
    width:100%;
    margin-bottom:10px;
    height: fit-content;
    align-items: center;
}

.matchDetails {
    height:60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timeText {
    margin-right:20px;
    margin-top:-5px;
}

.bracket {
    background-color: white;
    height:10px;
    flex-grow:1;
}

.playerOne {
    display:flex;
    flex-direction: row;
    height:inherit;
    align-items: center;
}

.playerTwo {
    display:flex;
    flex-direction: row-reverse;
    height:inherit;
    align-items: center;
}

.versus {
    color:white;
    margin-inline:20px;
    font-size:62px;
}

.picOne, .picTwo {
    height:60px;
    width:60px;
    background-color: white;
}

.picOne {
    margin-right:10px;
}

.picTwo {
    margin-left:10px;
}

.playerNameOne, .playerNameTwo {
    height:inherit;
    display:flex;
    align-items: center;
    padding-inline: 20px;
    width: 280px;
    justify-content: center;
}

.playerText {
    font-size: 46px;
    width:fit-content;
    white-space: nowrap;
}

.playerNameOne {
    background-color: #903ed6;
}

.playerNameTwo {
    background-color: #3ed64c;
}

#top {
    display:flex;
    justify-content: space-between;
}

#timeContainer {
    margin-top:80px;
    margin-left: 80.8px;
}

#nowPlaying {
    margin-top:80px;
    margin-right: 80.8px;
    text-align:right;
}

.playingText {
    font-size:25px;
}

#songName {
    width:400px;
    white-space: wrap;
}

#currentText {
    font-size: 35px;
}

#currentTime {
    font-size: 135px;
    color:black;
    background-color: white;
    width: 450px;
    text-align: center;
    padding-bottom:10px;
    margin-block:10px;
	text-shadow: none;
}

#nextMatch {
    display:flex;
    height:fit-content;
    align-items: center;
}

#nextTime {
    font-size:45px;
    color:black;
    background-color: white;
	text-shadow: none;
    width:260px;
    text-align: center;
    margin-right:10px;
}

#nextText {
    font-size:27px;
    line-height: 80%;
    margin-top: -2.5px;
}