@font-face {
    font-family: "Upheavtt";
    src: url("../_shared_assets/fonts/upheavtt.ttf");
}

@font-face {
    font-family: "Madou";
    src: url("../_shared_assets/fonts/madoufmg.ttf");
}

#main {
    font-size: 30px;
    font-family: "Upheavtt";
    font-weight: normal;
    color: white;
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    /* background-color: grey; */
    display:flex;
	text-shadow: 0px 0px 8px black;
}

#controlPanel {
    z-index: 999999;
    font-size: 30px;
    font-family: "Upheavtt";
    font-weight: normal;
    color: grey;
    width: 1920px;
    height: 150px;
    position: absolute;
    top:1080px;
    left:0px;
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
}

#mappoolContainer {
    height:inherit;
    width: 1360px;
    z-index:1;
}

#playerOneContainer, #playerTwoContainer {
    height:inherit;
    width: 280px;
    /* background:lightgrey; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#one, #two {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    width: 280px;

}

#oneOne, #twoTwo {
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    height:fit-content;
    width: 280px;
    margin-bottom: 115px;
}

.profilePic {
    height:200px;
    width:200px;
    background-color: white;
    margin-top: 20px;
}

.profileCont {
    width:200px;
    display:flex;
    flex-direction: column;
}

#playerOne {
    align-items: start;
}

#playerTwo {
    align-items: end;
}

#oneColumnTwo {
    display:flex;
    height:26px;
}

#twoColumnTwo {
    display:flex;
    flex-direction: row-reverse;
    height:26px;
}

#flagOne, #flagTwo {
    height:60%;
    margin-inline: 10px;
    margin-top:-1px;
}

.playerName {
    display:flex;
    font-size: 40px;
    height:42px;
    align-items: center;
    white-space: nowrap;
}

.seed {
    font-size: 24px;
    margin-top: -5px;
}

#playerOnePick, #playerTwoPick, #playerOneBan, #playerTwoBan {
    display:flex;
    flex-direction: column;
    width:200px;
    margin-top: 20px;
}

#playerTwoPick, #playerTwoBan {
    align-items: end;
}

.banBox {
    background-color: #9e4747;
    color: white;
    font-size: 36px;
    width:inherit;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-block:2px;
    display:none;
}

#pickOne, #pickTwo {
    height:130px;
    width: inherit;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 500ms;
    opacity: 0;
}

.ban{
    height:83px;
}

#mainMappoolContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
}

#selectedMapContainer {
    width: 1280px;
    height: 280px;
}

#upcomingText {
    width: 1280px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:-60px;
    font-size: 200%;
    opacity: 0;
}

#wrapper {
	position: absolute;
    top:20px;
    width: 1280px;
    height: 280px;
	z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
	position: absolute;
    width:inherit;
    height: inherit;
	z-index: -1;
    background-color: rgba(0,0,0,0.5);
    transition: 750ms ease-in-out;
}

#beatmapImage {
	z-index: -2;
    width:105%;
    height:105%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(5px);
    opacity: 0;
    transition: ease-in-out 500ms;
}

#foregroundMap {
    position: absolute;
    width: 1280px;
    height: 280px;
    /* background-color: grey; */
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color:white;
}

#currentlyPicking {
    position: absolute;
    width: 1280px;
    height: 280px;
    /* background-color: grey; */
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 150%;
}

#map {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: none;
}

#selectedMap {
    margin-top: 10px;
    display: none;
}

#pickID {
    font-size: 300%;
    margin-top: 18px;
}

#song {
    font-size: 150%;
    margin-top: -18px;
    width: 1000px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#mapper {
    font-size: 75%;
    margin-top: -3px;
}

#stats {
    display:flex;
    font-size: 90%;
    margin-top: 35px;
}

.statFont {
    margin-inline:10px;
}

#mappoolContainer {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    width: 1360px;
    height: 720px;
    margin-bottom: 20px;
}

.mapContainer {
    height:fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding-block:8px;
}

.map {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
    width: 400px;
    height: 60px;
    background-color: rgba(0,0,0,0.80);
    background-size: 100%;
    background-position: center center;
    color: #00080F;
    box-shadow: 0px 5px 10px -3px black;
    transition: ease-in-out 200ms;
}

.mapInfo {
    width: 82%;
    height: 80%;
    margin-top:-1px;
    display:flex;
    align-items: center;
    margin-inline:10px;
    transform: translateY(8px);
    color: #fff;
    font-size: 24px;
    text-shadow: 0 2px 3px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pickingStatus {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 60px;
    color: #fff;
    line-height: 60px;
    font-size: 34px;
    text-align: center;
    user-select: none;
    opacity: 1;
    text-shadow: 0 0 10px black;
    border-style: hidden;
    border-width: 3px;
    border-color: rgba(0,0,0,0.1);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.85);
    opacity: 0.5;
    transition: ease-in-out 200ms;
}

.modIcon {
    position: absolute;
    top:-7.5px;
    right: -10px;
    width: 80px;
    height: 80px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0px 2px 2px #000);
    filter: drop-shadow(0px 2px 2px #000);
    transition: ease-in-out 200ms;
}

.clicker {
    width: 400px;
    height: 60px;
    transition: ease-in-out 300ms;
    margin-block: 8px;
}

.tb {
    width: 1280px !important;
    margin-bottom: 0px !important;
}

#TB {
    padding-bottom: 0px !important;
}

.leftPick {
    margin-block:5px;
    background-color: grey;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightPick {
    margin-block:5px;
    width:200px;
    background-color: grey;
    color:white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.banBox {
    margin-block:5px;
    background-color: rgb(150, 68, 68);
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#banOneContainer, #banTwoContainer {
    opacity:0;
}

.pickName, .status {
    margin-inline: 10px;;
    font-size:34px;
}

#playerOneButton, #playerTwoButton, #nextButton, #banButton, #pickButton {
    height:70%;
    width: 250px;
    margin-inline: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-width: 5px;
    border-color: white;
    text-align: center;
    color:white;
}

#banButton {
    background-color: rgb(153, 14, 14);
}

#pickButton {
    background-color: rgb(161, 127, 34);
}

#playerOneButton {
    background-color: rgb(97, 14, 153);
}

#playerTwoButton {
    background-color: rgb(11, 95, 30);
}

#nextButton {
    background-color: rgb(30, 47, 145);
}

@keyframes flashPurple {
    from {
        border-color: white;
        background-color: rgba(255,255,255,0.5);
    }
    to {
        border-color: rgb(184, 90, 255);
        background-color: rgba(255,255,255,0);
    }
}

@keyframes flashGreen {
    from {
        border-color: white;
        background-color: rgba(255,255,255,0.5);
    }
    to {
        border-color: rgb(94, 255, 94);
        background-color: rgba(255,255,255,0);
    }
}

@keyframes translateInLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes translateInRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes translateOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes pickingIn {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pickingInSelected {
    from {
        transform: translateY(100px) translateX(-200px) scale(2);
        opacity: 0;
    }
    to {
        transform: translateY(100px) translateX(0) scale(2);
        opacity: 1;
    }
}

@keyframes pickingOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(200px);
        opacity: 0;
    }
}

@keyframes pickingUp {
    from {
        transform: translateY(100px) scale(2);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes highlightMap {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(360px);
    }
}

@keyframes unHighlightMap {
    from {
        transform: translateY(360px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes lowerMappool {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(720px);
    }
}

@keyframes raiseMappool {
    from {
        transform: translateY(720px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes raiseChat {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-380px);
    }
}

@keyframes lowerChat {
    from {
        transform: translateY(-380px);
    }
    to {
        transform: translateY(0);
    }
}

/* SCORE RELATED STUFF */
#playerOnePoint, #playerTwoPoint {
    width: inherit;
    height:80px;
    width:inherit;
    background-color: #212121;
    margin-top:20px;
    display:flex;
    justify-content: center;
}

.point {
    width:94%;
}

#scoreBlue {
	left: 180px;
	display: flex;
    justify-content: space-between;
	height: 136px;
}
#scoreRed {
	right: 180px;
	display: flex;
    justify-content: space-between;
	height: 136px;
}

#scoreBlue>.score {
	width: 25px;
	height: 66px;
	margin-inline:7px;
    background-color: #362744;
}

#scoreRed>.score {
	width: 25px;
	height: 66px;
	margin-inline:7px;
    background-color: #1f3a1f;
}

#scoreBlue>.scoreFill{
	background-color: #58ff00 !important
}

#scoreRed>.scoreFill{
	background-color: #b152d8 !important
}

#scoreBlue>.score.scoreFillAnimate {
	animation: addScoreBlue 500ms forwards;
}

#scoreRed>.score.scoreFillAnimate {
	animation: addScoreRed 500ms forwards;
}

#scoreBlue>.score.scoreNoneAnimate {
	animation: removeScoreBlue 500ms forwards;
}

#scoreRed>.score.scoreNoneAnimate {
	animation: removeScoreRed 500ms forwards;
}

@keyframes addScoreBlue {
	from {
        background-color: #362744;
	}
	to {
		background-color: #58ff00;
	}
}

@keyframes addScoreRed {
	from {
        background-color: #1f3a1f;
	}
	to {
		background-color: #b152d8;
	}
}

@keyframes removeScoreBlue {
	from {
		background-color: #58ff00;
	}
	to {
        background-color: #362744;
	}
}

@keyframes removeScoreRed {
	from {
		background-color: #b152d8;
	}
	to {
        background-color: #1f3a1f;
	}
}

/* MATCH RELATED STUFF */

#matchPickColumn {
    height:50px;
    width:inherit;
    display:flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: "Upheavtt";
    font-weight: normal;
    color: rgb(150,150,150);
    width: 1920px;
    position: absolute;
    top:1230px;
    left:0px;
    /* background-color: grey; */
}

#leftPickMatch, #rightPickMatch {
    height:inherit;
    width:150px;
    margin-inline:40px;
    background-color: #212121;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    transition: 500ms ease-in-out;
}

/* CHAT RELATED STUFF */

#chatContainer {
    z-index:0;
    position:absolute;
	top: 1280px;
    left:0px;
	width: 1920px;
	height: 300px;
    display:flex;
    justify-content: center;
    align-items: start;
}

#chats {
    width: 1000px;
    height: 150px;
	background: rgba(0,0,0,0.80);
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px 15px;
	font-size: 24px;
    font-family: "Upheavtt", monospace;
    transition: ease-in-out 500ms;
    color:white;
}

.chat {
	display: flex;
	text-align: left;
}

.chatTime {
	width: 5%;
	color: silver;
	margin-right: 25px;
}
.wholeChat {
	width: 95%;
	display: flex;
}
.chatName {
	color: white;
	white-space: nowrap;
	width: max-content;
}
.chatText {
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
.unknown {
	color: rgb(192, 130, 48);
}
.bot {
	color: #FF66AA;
}
.left {
	color: #b152d8;
}
.right {
	color: #56c51b;
}

#mascotVideo {
    z-index: -2 !important;
}

#mascot {
    z-index: -1;
    display: flex;
    justify-content: center;
    position:absolute;
    top:1350px;
    left:0px;
    width:1920px;
    transition: 2s ease-out;
}

#timeoutPanel {
    position:absolute;
    top:1005px;
    left:0px;
    height:75px;
    width:1920px;
    display:flex;
    align-items: end;
    color:white;
    font-size: 30px;
    font-family: "Upheavtt";
    font-weight: normal;
}

#buttons {
    width:inherit;
    display:flex;
    justify-content: space-between;
}

#leftTimeout, #rightTimeout {
    height:75px;
    width:250px;
    margin-inline:10px;
    background-color: rgb(194, 139, 57);
    border: 2px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:0;
}

#screen {
    color:white;
    font-size: 30px;
    font-family: "Upheavtt";
    font-weight: normal;
    position:absolute;
    top:0px;
    left:0px;
    height:1080px;
    width:1920px;
    justify-content: center;
    display:none;
}

#timeoutOverlay {
    background-color: rgba(0,0,0,0.6);
    height:1080px;
    width: 1360px;
    z-index: 2;
    transition: 1s ease-in-out;
    opacity: 0;
}

#timeoutFloater {
    position:absolute;
    top:500px;
    width: 600px;
    height:fit-content;
    z-index: 3;
    text-align: center;
    background-color: grey;
    padding-inline: 50px;
    padding-block:10px;
    border-radius: 30px;
    font-size:40px;
	text-shadow: 0px 0px 8px black;
    transition: 1s ease-in-out;
    transform: translateY(1000px);
}