@font-face {
    font-family: "Upheavtt";
    src: url("../shared_assets/fonts/upheavtt.ttf");
}

#main {
    font-size: 40px;
    font-family: "Upheavtt";
    font-weight: normal;
    color: white;
    width: 1920px;
    height: 1080px;
    position: relative;
    /* background-color: aqua; */
}

#beatmapContainer {
    width:1400px;
    height:164px;
    position: absolute;
    bottom: 68px;
    left:260px;
    display:flex;
    z-index: 0;
}

#shadowGlow {
    width:inherit;
    height: inherit;
    z-index: -1 !important; 
    position:absolute;
    background-image: linear-gradient(180deg, rgba(29, 25, 31, 0.4),rgb(29, 25, 31,0.1));
}

#beatmapImage {
    width:inherit;
    height: 100%;
    z-index: -4 !important; 
    position:absolute;
	filter: brightness(50%) url("#sharpBlur");
	object-fit: cover;
	object-position: center;
}

#mapPick {
    margin-left:10px;
    height: 100%;
    width:250px;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#songDetails {
    height: 100%;
    width:840px !important;
    display: flex;
    flex-direction: column;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#beatmapTitle {
    height: 54%;
    width: fit-content;
    font-size: 45px;
    display: flex;
    align-items: end;
	padding-right: 50px;
}

#beatmapTitleDelay {
    height: 54%;
    width: fit-content;
    font-size: 45px;
    display: flex;
    align-items: end;
    margin-top:-88.55px;
	padding-right: 50px;
}

#beatmapArtist {
    height: 75.45px;
    width: fit-content;
    display: flex;
    align-items: start;
	padding-right: 35px;
}

#beatmapArtistDelay {
    height: 75.45px;
    width: fit-content;
    display: flex;
    align-items: start;
	padding-right: 35px;
    margin-top:-75.45px;
}

#beatmapDetails {
    height: 100%;
    width:270px;
    display: flex;
    flex-direction: column;
    margin-inline:15px;
}

#beatmapDifficulty {
    height:32.9167px;
    display: flex;
    width: fit-content;
    justify-content: end;
    align-items: end;
}

#beatmapDifficultyDelay {
    height:32.9167px;
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top:-32.9167px;
	padding-right: 20px;
}

#beatmapMapper {
    display: flex;
    justify-content: end;
    align-items: start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#bgVideo {
    width:inherit;
    height: inherit;
    z-index: -3 !important; 
    position:absolute;
	object-fit: cover;
	object-position: center;
}

#statContainer {
    display:flex;
    width: 900px;
    height:40px;
    justify-content: space-around;
    align-items: center;
    background-color:#312f35;
    border-radius: 20px;
    position: absolute;
    bottom:208px;
    left:510px;
}

#diff, #mapper {
    height:50%;
    display:flex;
    flex-direction: column;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#diff {
    justify-content: end;
    align-items: end;
    margin-bottom: 5px;
}

#mapper {
    justify-content: start;
    margin-top: 5px;
}

.detailFont {
    font-size:22px;
    display: flex;
    justify-content: end;
}

.statFont {
    font-size: 28px;
}

.activeDetailFont {
    font-size:32px !important;
}

@keyframes scrollText {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
}